@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    330.705.0431
</address>

<address>
    Feel free to contact me at ps206415@ohio.edu
</address>