@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">Prerequisites for this class are MIS 2020 and 3200.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ohio University College of Business</h2>
        <p>
            Ranked #15 best business school by Bloomberg.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
        <h2>Links to Sample Models</h2>
        @Html.ActionLink("Customers", "Index", "Customers")<br />
        @Html.ActionLink("Students", "Index", "Students")<br />
        @Html.ActionLink("Courses", "Index", "Courses")<br />
        @Html.ActionLink("Enrollments", "Index", "Enrollments")
    </div>
    <div class="col-md-4">
        <h2>Academic Programs</h2>
        <p>Undergraduate Majors, Minors, and Certificates - Graduate Certificates and Programs - Executive Education.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resources</h2>
        <p>Find resources for current and future Bobcats, parents, employers, alumni, and staff.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/resources/">Learn more &raquo;</a></p>
    </div>
</div>